<p>Create a new article here</p>
<p><a href='/articles'>View Articles</a></p>
<form action='/articles' method='POST'>
    <label>  Title:  </label>
    <input type="input" name="title">
    <label>  URL:  </label>
    <input type="input" name="url">
    <label>  Description:  </label>
    <input type="input" name="description">
    <input type="submit">
</form>
